@{
    ViewData["Title"] = "Home";
}
<partial name="~/Views/Home/PartialViews/_Header.cshtml" />
<div class="content agileits w3layouts">
    <partial name="~/Views/Home/PartialViews/_Welcome.cshtml" />
    <partial name="~/Views/Home/PartialViews/_Galery.cshtml" />
    <partial name="~/Views/Home/PartialViews/_Portfolio.cshtml" />
    <partial name="~/Views/Home/PartialViews/_Services.cshtml" />
    <partial name="~/Views/Home/PartialViews/_Events.cshtml" />
    <partial name="~/Views/Home/PartialViews/_Advantage.cshtml" />
</div>
<partial name="~/Views/Home/PartialViews/_Contact.cshtml" />