@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Този сайт не използва бисквитки, нито събира вашата лична информация по някакъв начин. Ако решите да използвате формата за контакт и предоставите 
    имейл адреса си, то той ще се използва само и единствено за обратна връзка с вас, като не се записва в база от данни и отива единствено в пощата 
    на Любомира Касабова, с цел да се свърже с вас възможно най-бързо.
</p>
