<div class="advantage">
    <div class="container">
        <div class="advantage-top">
            <h3>Our Advantages</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
        </div>
        <div class="ad-top">
            <div class="col-md-4 wel wow fadeInLeft animated" data-wow-delay=".5s">
                <div class="content-ic">
                    <i class="glyphicon glyphicon-file"></i>
                </div>
                <div class="content-text">
                    <h5>Certification </h5>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 wel wow fadeInUp animated" data-wow-delay=".5s">
                <div class="content-ic">
                    <i class="glyphicon glyphicon-tag"></i>
                </div>
                <div class="content-text">
                    <h5>Best Prices </h5>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 wel wow fadeInRight animated" data-wow-delay=".5s">
                <div class="content-ic">
                    <i class="glyphicon glyphicon-earphone"></i>
                </div>
                <div class="content-text">
                    <h5>24/7 Support </h5>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>