<div class="portfolio" id="gallery">

    <div class="portfolio-top wow fadeInDown animated" data-wow-delay=".5s">

        <div class="col-md-4 grid slideanim">
            <figure class="effect-jazz">
                <a href="#portfolioModal1" data-toggle="modal">

                    <img src="images/pi.jpg" alt="img25" class="img-responsive" />
                    <figcaption>
                        <h4> Contrary to popular belief</h4>
                        <p> There are many variations of passages of Lorem Ipsum .</p>
                    </figcaption>
                </a>
            </figure>
        </div>
        <div class="col-md-4 grid slideanim">
            <figure class="effect-jazz">
                <a href="#portfolioModal2" data-toggle="modal">

                    <img src="images/pi1.jpg" alt="img25" class="img-responsive" />
                    <figcaption>
                        <h4> Contrary to popular belief</h4>
                        <p> There are many variations of passages of Lorem Ipsum .</p>
                    </figcaption>
                </a>
            </figure>
        </div>
        <div class="col-md-4 grid slideanim">
            <figure class="effect-jazz">
                <a href="#portfolioModal3" data-toggle="modal">

                    <img src="images/pi2.jpg" alt="img25" class="img-responsive" />
                    <figcaption>
                        <h4> Contrary to popular belief</h4>
                        <p> There are many variations of passages of Lorem Ipsum .</p>
                    </figcaption>
                </a>
            </figure>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="portfolio-top wow fadeInUp animated" data-wow-delay=".5s">
        <div class="col-md-3 grid grid-wi slideanim">
            <figure class="effect-jazz">
                <a href="#portfolioModal4" data-toggle="modal">

                    <img src="images/pi3.jpg" alt="img25" class="img-responsive" />
                    <figcaption>
                        <h4 class="effcet-text"> Popular belief</h4>
                        <p> There are many variations of passages .</p>
                    </figcaption>
                </a>
            </figure>
        </div>
        <div class="col-md-3 grid grid-wi slideanim">
            <figure class="effect-jazz">
                <a href="#portfolioModal5" data-toggle="modal">

                    <img src="images/pi5.jpg" alt="img25" class="img-responsive" />
                    <figcaption>
                        <h4 class="effcet-text"> Popular belief</h4>
                        <p> There are many variations of passages.</p>
                    </figcaption>
                </a>
            </figure>
        </div>
        <div class="col-md-3 grid grid-wi slideanim">
            <figure class="effect-jazz">
                <a href="#portfolioModal6" data-toggle="modal">

                    <img src="images/pi4.jpg" alt="img25" class="img-responsive" />
                    <figcaption>
                        <h4 class="effcet-text">Popular belief</h4>
                        <p> There are many variations of passages.</p>
                    </figcaption>
                </a>
            </figure>
        </div>
        <div class="col-md-3 grid grid-wi slideanim">
            <figure class="effect-jazz">
                <a href="#portfolioModal7" data-toggle="modal">

                    <img src="images/pi6.jpg" alt="img25" class="img-responsive" />
                    <figcaption>
                        <h4 class="effcet-text"> Popular belief</h4>
                        <p> There are many variations of passages.</p>
                    </figcaption>
                </a>
            </figure>
        </div>
        <div class="clearfix"></div>
    </div>
</div>