<div class="container">
    <div class="services" id="services">
        <h3>Дейности</h3>
        <div class="ser-grid ">
            <div class="col-md-4 ser-top wow fadeInLeft animated" data-wow-delay=".5s">
                <h5>Заснемане на помещение</h5>
                <p>
                    <br />Вземане на точните размери на помещението<br /><br /><br /><br /><br />
                </p>
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </div>
            <div class="col-md-4 ser-top wow fadeInUp animated" data-wow-delay=".5s">
                <h5>Изготвяне на документация за строително-ремонтни дейности</h5>
                <p>
                    скици на помещението<br />
                    разгъвки на стени с размери<br />
                    размери на ел. контакти<br />
                    размери на ВиК инсталация<br /><br />
                </p>
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            </div>
            <div class="col-md-4 ser-top wow fadeInRight animated" data-wow-delay=".5s">
                <h5>Изготвяне на 3D интериорен проект</h5>
                <p>
                    до 3 бр. сурови варианти на 3D интериор в AutoCad<br />
                    1 бр. клипче с обяснение на целия проект<br />
                    1 бр. финален вариант на интериора с реални цветове в 3D max<br />
                    изображения на интериора в .jpg формат<br />
                </p>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>