<div class="test">
    <div class="container">
        <h3>Testimonials</h3>
        <div class="test-top">
            <div class="col-md-6 test-top1 test-to wow fadeInUp animated" data-wow-delay=".5s">
                <div class=" test-top2">
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                    <img src="images/qu.png" alt="">
                    <div class="clearfix"> </div>
                </div>
                <div class="test-top3">
                    <img src="images/th.jpg" class="img-responsive" alt="">
                    <h6> The standard chunk of Lorem</h6>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-6 test-top1 wow fadeInDown animated" data-wow-delay=".5s">
                <div class=" test-top2">
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                    <img src="images/qu.png" alt="">
                    <div class="clearfix"> </div>
                </div>
                <div class=" test-top3">
                    <img src="images/th1.jpg" class="img-responsive" alt="">
                    <h6> The great explorer of the trut</h6>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>