<div class="container agileits w3layouts">
    <div class="col-top agileits w3layouts" id="about">
        <h3>Добре дошли в Mira design </h3>
        <p>
            Здравейте, аз съм Мира, занимавам се с интериорен дизайн от 10 години. Това е моята страничка, в която искам да ви представя моите проекти
        </p>
    </div>
    <div class="tab-head agileits w3layouts">
        <nav class="col-md-6 nav-sidebar wow agileits w3layouts fadeInLeft animated" data-wow-delay=".5s">
            <ul class="nav agileits w3layouts tabs">
                <li class="active agileits w3layouts"><a href="#tab1" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-user" aria-hidden="true"></span>Любомира Касабова</a></li>
                <li class=""><a href="#tab2" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-lamp" aria-hidden="true"></span>инженер - дизайнер</a></li>
                <li class=""><a href="#tab3" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-education" aria-hidden="true"></span>магистър информационни технологии в издателската дейност</a></li>
                <li class=""><a href="#tab4" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-road" aria-hidden="true"></span>10 години опит в интериорния дизайн</a></li>
            </ul>
        </nav>
        <div class="col-md-6 tab-content wow fadeInRight animated" data-wow-delay=".5s">
            <div class="tab-pane active text-style" id="tab1">
                <div class="facts">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <h4>За мен</h4>
                    <p>
                        Занимавам се с интериорен дизайн от 10 години. Изпитвам удовлетворение след всеки реализиран проект. Усмивката на доволните клиенти е най мотивиращото нещо в
                        стремежа към покоряване на нови професионални върхове
                    </p>

                </div>
            </div>
            <div class="tab-pane  text-style" id="tab2">
                <div class="facts">
                    <span class="glyphicon glyphicon-lamp" aria-hidden="true"></span>
                    <h4> Инженер дизайнер</h4>
                    <p>
                        От 2005 до 2009 г учих промишлен дизайн в Русенския унивеситет "Ангел Кънчев". В обучението си се докоснах до всички сфери на дизайна. Последната година от обучението си 
                        реших, че искам да се занимавам с интериорен дизайн.
                    </p>

                </div>
            </div>
            <div class="tab-pane  text-style" id="tab3">
                <div class="facts">
                    <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                    <h4>Магистър информационни технологии в издаделската дейност</h4>
                    <p>
                        От 2011 до 2012 учих магистратура в РУ "Ангел Кънчев"  - Информационни технологии в издателската дейност. Придобих  умения в предпечатната подготовка - изготвянето на файлове 
                        за печат.
                    </p>

                </div>
            </div>
            <div class="tab-pane text-style" id="tab4">
                <div class="facts">
                    <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                    <h4>10 години опит</h4>
                    <p>
                        След като завърших промишлен дизайн започнах да се развивам в сферата на интериорния дизайн. Започнах работа във водеща мебелна фирма . Основната ми задача беше изготвяне на 
                        индивидуални проекти за крайни клиенти.
                    </p>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>