<div class="container agileits w3layouts">
    <div class="col-top agileits w3layouts" id="about">
        <h3>Добре дошли в Mira design </h3>
        <p>
            Здравейте, аз съм Мира, занимавам се с интериорен дизайн от 10 години. Това е моята страничка, в която искам да ви представя моите проекти
        </p>
    </div>
    <div class="tab-head agileits w3layouts">
        <nav class="col-md-6 nav-sidebar wow agileits w3layouts fadeInLeft animated" data-wow-delay=".5s">
            <ul class="nav agileits w3layouts tabs">
                <li class="active agileits w3layouts"><a href="#tab1" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-home" aria-hidden="true"></span>Любомира Касабова</a></li>
                <li class=""><a href="#tab2" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-heart-empty" aria-hidden="true"></span>инженер - дизайнер</a></li>
                <li class=""><a href="#tab3" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-leaf" aria-hidden="true"></span>магистър информационни технологии в издателската дейност</a></li>
                <li class=""><a href="#tab4" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-erase" aria-hidden="true"></span>10 години опит в интериорния дизайн</a></li>
            </ul>
        </nav>
        <div class="col-md-6 tab-content wow fadeInRight animated" data-wow-delay=".5s">
            <div class="tab-pane active text-style" id="tab1">
                <div class="facts">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    <h4>Lorem Ipsum has</h4>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
                        , or randomised words which don't look even slightly believable.There are many variations .
                    </p>

                </div>
            </div>
            <div class="tab-pane  text-style" id="tab2">
                <div class="facts">
                    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                    <h4> At vero eos et</h4>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
                        , or randomised words which don't look even slightly believable.There are many variations .
                    </p>

                </div>
            </div>
            <div class="tab-pane  text-style" id="tab3">
                <div class="facts">
                    <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                    <h4>On the other hand</h4>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
                        , or randomised words which don't look even slightly believable.There are many variations .
                    </p>

                </div>
            </div>
            <div class="tab-pane text-style" id="tab4">
                <div class="facts">
                    <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                    <h4>Lorem Ipsum has</h4>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
                        , or randomised words which don't look even slightly believable.There are many variations .
                    </p>

                </div>
            </div>
            <div class="tab-pane  text-style" id="tab5">
                <div class="facts">
                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                    <h4>Nam libero tempore</h4>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
                        , or randomised words which don't look even slightly believable.There are many variations .
                    </p>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>