@{
    ViewData["Title"] = "Add Images In Gallery";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model DataTransferObjects.BindingModels.AddImagesInGalleryBindingModel

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-info text-white">
            <h5 class="modal-title"><i class="fa fa-tasks"></i> Add Images In Gallery</h5>
        </div>
        <div class="modal-body">
            <form asp-action="AddImagesInGalleryPost" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="About" class="control-label"></label>
                    <input asp-for="About" class="form-control">
                    <span asp-validation-for="About" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Link" class="control-label"></label>
                    <input type="file" asp-for="Link" class="form-control" />
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary"><i class="fa fa-window-close"></i> Close</a>
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}